#desktop-view{
    display: none;
}

#desktopNav2{
    display: none;
   }

@media screen and (min-width:600px) {
    
    #desktop-view{
        display: block;
    }

 }


 Link{
    
 }

 
@media screen and (min-width:600px) and (max-width:800px) {
    
    #desktopNav2{
        display: block;
       }
    
 #desktopNav{
    display: none;
}
 }
