
.home{
    background-image: url('/src/assets/home/background-home-desktop.jpg');
    background-repeat: no-repeat;
    height: 100vh;
        background-size: 'cover';
    background-position: 'center';
}



#desktop-view{
    display: none;
}

#desktopNav2{
    display: none;
   }

@media screen and (min-width:600px) {
    
    #desktop-view{
        display: block;
    }

 }

 
@media screen and (min-width:600px) and (max-width:800px) {
    
    #desktopNav2{
        display: block;
       }
    
 #desktopNav{
    display: none;
}
 }
